for conf_name in ${conf_vars_influxconf}; do
  echo -n "# $conf_name* = "
  conf_vars=$(set | grep ^${conf_name}| sed -e 's/^\('${conf_name}'[^=]*\).*/\1/' | sort | tr '\n', ' ')
  echo "$conf_vars"

  [ -z "${conf_vars}" ] && continue;

  for v in ${conf_vars}; do
    val=$(eval echo "\$$v")
    [ -z "$v" -o -z "$val" ] && continue
    echo -e "$val"
  done
  echo
done

